---
import { Image } from 'astro:assets'
import CetricLogo from '../assets/clients/cliente-01.webp'
import DSMLogo from '../assets/clients/cliente-02.webp'
import NitroLogo from '../assets/clients/cliente-03.webp'
import NanoQuimicaLogo from '../assets/clients/cliente-04.webp'
import ProdesteLogo from '../assets/clients/cliente-05.webp'
import RevproLogo from '../assets/clients/cliente-06.webp'
import RFLLogo from '../assets/clients/cliente-07.webp'
import SpresLogo from '../assets/clients/cliente-08.webp'

const clients = [
  {
    name:"Grupo Cetric",
    logo: CetricLogo
  },
  {
    name:"DSM",
    logo: DSMLogo
  },
  {
    name:"Nitro",
    logo: NitroLogo
  },
  {
    name:"Nanoquímica",
    logo: NanoQuimicaLogo
  },
  {
    name:"Prodoeste",
    logo: ProdesteLogo
  },
  {
    name:"Revpró",
    logo: RevproLogo
  },
  {
    name:"RFL",
    logo: RFLLogo
  },
  {
    name:"Sucos Spres",
    logo: SpresLogo
  },
];
---

<section class="py-16 bg-white overflow-hidden">
  <div class="max-w-7xl mx-auto px-4 mb-8 text-center">
    <h2 class="text-3xl font-bold text-gray-800 flex items-center justify-center gap-2">
      <span class="text-black">Nossos</span> <span class="text-primary">Clientes</span>
      <i class="fa-solid fa-leaf text-primary text-xl"></i>
    </h2>
  </div>

  <div class="relative w-full overflow-hidden mask-gradient">
    <div class="flex animate-scroll w-max gap-12 md:gap-20">
      
      {[...clients, ...clients].map((client) => (
        <div class="flex items-center justify-center py-6 min-w-[150px] grayscale hover:grayscale-0 opacity-60 hover:opacity-100 transition-all duration-300 cursor-pointer">
            <Image src={client.logo} alt={client.name} />
        </div>
      ))}

    </div>
  </div>
</section>

<style>
  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
  
  .animate-scroll {
    animation: scroll 30s linear infinite;
  }

  .mask-gradient {
    mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  }

  .animate-scroll:hover {
    animation-play-state: paused;
  }
</style>