---
// Se tiver a logo ou ícone de folha, importe aqui
// import leafIcon from '../assets/leaf.svg'; 
---

<div class="relative z-20 w-full px-4">
    <div class="max-w-5xl mx-auto -mt-20 md:-mt-16">
        <div class="bg-linear-to-r from-primary to-secondary rounded-2xl shadow-xl py-8 px-6 text-white">
            <div class="flex flex-col md:flex-row items-center justify-center divide-y md:divide-y-0 md:divide-x divide-white/30">
                
                <div class="flex-1 flex items-center justify-center gap-4 py-4 md:py-0">
                    <i class="fa-solid fa-leaf text-3xl opacity-80"></i>
                    <span class="text-xl md:text-2xl font-light uppercase tracking-widest">
                        <span class="font-bold">3 Anos</span> de História
                    </span>
                </div>

                <div class="flex-1 flex items-center justify-center gap-4 py-4 md:py-0">
                    <span class="text-xl md:text-2xl font-light uppercase tracking-widest">
                        <span class="font-bold">+ 300</span> Projetos Concluídos
                    </span>
                </div>

            </div>
        </div>
    </div>
</div>